.categories-list{
    height: 100%;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 25px; */
    h2{
        margin-left: 25px;
        color: #02181b;
    }

    p{
        margin-top: -20px;
        font-size: 16px;
    }
}

.categories-list .category-items .category-item{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin-left: 20px;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #ffffff;
        width: 100px;
        height: 40px;
        color: #02181b;
    }
    button{
        border: none;
        height: 35px;
        width: 35px;
        background-color: #02181b;
        border-radius: 20px;
        margin-left: 5px;
    }    
}

.categories-list .category-items {
    display: flex;
    height: auto;
    width: auto;
    overflow-x: auto;
    margin-bottom: 25px;
}

.categories-list .descriptionparcelle{
    margin-top: 30px;
    color: #02181b; 
    
        .titremodif{
            display: flex;
            align-items: center;
            justify-content:  space-between;

        h2{
            text-align: left;
            
            display: flex;
        }

        svg{
            width: 20px;
            height: 20px;
            color: #02181b;
            margin-right: 25px;
        }
        button{
            background-color: rgb(121, 193, 202);
            border: none;
            height: 50px;
            width: 100%;
        }
    }

    .textmodif{
        margin: 25px;
        border-radius: 10px;
        font-size: 12px;
        button{
            background-color: #02181b;
            border: none;
            height: 40px;
            width: 100px;
            border-radius: 10px;
            
        }
    }
}

.categories-list .new-category{
    display: block;
    justify-content: center;
    
    button{
        width: 90%;
        height: 40px;
        background-color: rgb(121, 193, 202);
        border: none;
        margin-left: 10px;
        border-radius: 5px;
        color: #02181b;
        margin-top: 10px ;
    }

    input{
        margin-left: 7px;  
        width: 90%;
        height: 40px;
        background-color: #ffffff;
        border: none;
        border-radius: 5px;
        color: #02181b;
    }
}