.terrainListe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('demar.jpg') center/cover no-repeat;  */
    color: #fff;
    text-align: center;
    background-color: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
  }

  .terrainListe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('demar1.jpg') center/cover no-repeat; */
    opacity: 0.5; /* Ajustez l'opacité ici (0.5 pour 50%) */
    z-index: -1; /* Assure que l'élément est en arrière-plan par rapport au texte */
  }

  .page .terrainListe .titre h1 {
    text-align: center;
    width: 100%;
    display: block;
  }

  .page .terrainListe .titre button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(121, 193, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .terrainListe .titre button svg {
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.page .terrainListe .titre {
    top: 0;
    font-size: 15px;
    color: #02181b;
    margin: 25px;
    margin-top: 400px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .terrainListe .list {
    margin-top: -40px;
    margin-bottom: 80px;
  }



